<!DOCTYPE html>
<html>
  <head>
    <title>my-recipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #EEFFFF; border-bottom: 1px solid #ddd;">
      <div style="display: flex; align-items: center;">
        <%= link_to (current_user ? home_path : root_path) do %>
          <%= image_tag 'diary.png', alt: 'Diary', style: 'height: 40px; margin-right: 10px;' %>
        <% end %>
        <h1 style="font-size: 20px; margin: 0;">my-recipe</h1>
      </div>

      <div style="display: flex; align-items: center; gap: 20px;">
        <% if current_user %>
          <%= link_to '<span class="material-icons">add</span>'.html_safe, new_recipe_path, style: 'text-decoration: none; color: black;' %>
          <%= link_to '<span class="material-icons">menu</span>'.html_safe, menu_path, style: 'text-decoration: none; color: black;' if current_user %>

        <% end %>
      </div>


    </header>
    <!-- Turboの影響を考慮して変更フラッシュメッセージの表示 -->
    <%= turbo_frame_tag "flash" do %>
      <div class="flash-messages">
        <% flash.each do |type, message| %>
          <div class="flash alert alert-<%= type %>"><%= message %></div>
        <% end %>
      </div>
    <% end %>

    <main style="padding: 20px;">
      <%= yield %>
    </main>
  </body>
</html>
